body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    align-items: flex-start;
    display: flex;
    width: 1024;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftside{
    width: 35%;
    padding: 25px;
    background-color: rgb(249, 215, 170);
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.contacts{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15%;
}
.photo{
    display: flex;
    justify-content: center;
}

.photo_img{
    width: 200px;
    border-radius: 60%;
    border: #ffffff 2px solid;
}

.geo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.geo_img{
    margin-right: 20px;
}

.email{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.email_img{
    margin-right: 20px;
}

.phone{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.phone_img{
    margin-right: 20px;
}

.linkedin{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.linkedin_img{
    margin-right: 20px;
}

.languages title{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.languages_divider{
    width: 200px;
    margin-bottom: 15px;
}

.skills_tytle{
    display: flex;
    align-items: left;
}

.skills_devider{
    width: 200px;
    margin-bottom: 15px;
}
.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;    
    background-color: #ffffff;
    padding: 50px;
    text-align: justify;
}

.aboutme_devider{
    width: 200px;
    margin-bottom: 15px;
}

.education_devider{
    width: 200px;
    margin-bottom: 15px;
}

.workexperience_devider{
    width: 200px;
    margin-bottom: 15px;
}

.profskills_devider{
    width: 200px;
    margin-bottom: 15px;
}
    
.agreement{
    order: 10;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-size: x-small;
    padding: 65px;
    margin-left: 300;
    width: 520px;
    text-align: justify;
}